@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  /* So that 1 rem = 10px -> 10/16*100 = 62.5% */
  font-size: 62.5%;
}

header {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 1.5rem 2rem;
}

.title {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
}

.slogan {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

/* Main */

main {
  position: relative;
}

.searchbox {
  position: absolute;
  top: 20px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  max-width: 100%; 
  z-index: 2;
}

.searchform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  margin-top: 0.3rem;
  font-size: 1rem;
  display: none;
}

.show-error {
  display: block;
}

.error-msg {
  color: red;
  background-color: pink;
  padding: 0.6rem;
  border-radius: 0.25rem;
}

.search {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  width: 30%;
  border-right: none;
  flex: 1;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25), 1px 5px 10px rgba(0, 0, 0, 0.15);
  outline-width: 0;
}

.searchbtn {
  padding: 0.5rem 1rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25), 1px 5px 10px rgba(0, 0, 0, 0.15);
}

.searchbtn:hover {
  background-color: #999;
}

.searchbtn > i {
  margin-right: 0.2rem;
}
.map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

/* Footer */
footer {
  font-size: 1rem;
  text-align: center;
padding: 2rem;
  color: #fff;
  background-image: linear-gradient(35deg, #ccc, #555);
}

@media only screen and (max-width: 500px) {
  .searchbox {
      top: 59px;
  }
}
