@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    /* So that 1 rem = 10px -> 10/16*100 = 62.5% */
    font-size: 62.5%;
}

header, main, footer {
    padding: 2rem;
}

header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    height: 6rem;
}

.title {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}

.slogan {
    text-align: center;
    font-style: italic;
    font-size: .8rem;
}

/* Main */

main {
    background: url('./img/map.png'), center,center,  no-repeat;
    background-size: cover;
    min-height: calc(100vh - 6rem);
}

.searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search {
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    width: 30%;
    border-right: none;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25), 1px 5px 10px rgba(0, 0, 0, 0.15);
    outline-width: 0;
}

.searchbtn {
    padding: .5rem 1rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25), 1px 5px 10px rgba(0, 0, 0, 0.15);
}

.searchbtn:hover {
    background-color: #999;
}

.searchbtn > i {
    margin-right: .2rem;
}

/* Footer */
footer {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: #fff;
    background-image: linear-gradient(35deg, #ccc, #555);
}

